# Ignore everything
*

# Allow folder traversal
!*/

# But track this file
!.gitignore

# ===== EXPERT ADVISORS =====
!Experts/WeekHighLow/
!Experts/WeekHighLow/**
!Experts/ThreeDayTrendSignal/
!Experts/ThreeDayTrendSignal/**
!Experts/ATRMomentumRelVolEMAFilter/
!Experts/ATRMomentumRelVolEMAFilter/**


# Indicators
!Indicators/WeekHighLow/
!Indicators/WeekHighLow/**


# Include files
!Include/WeekHighLows/
!Include/WeekHighLows/**

# Files
!Files/WeekHighLow/
!Files/WeekHighLow/**
!Files/ThreeDayTrendSignal/
!Files/ThreeDayTrendSignal/**
!Files/ATRMomentumRelVolEMAFilter/
!Files/ATRMomentumRelVolEMAFilter/**

# Tester presets
!Profiles/Tester/
!Profiles/Tester/ThreeDayTrendSignal*.set
!Profiles/Tester/ATRMomentumRelVolEMAFilter*.set

# Documentation
!docs/
!docs/**

# Ignore compiled binaries
*.ex5
